<div class="main" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-card class="main-card" fxLayoutAlign="center center" fxLayout="column">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title><h2>This Website</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content class="main-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </mat-card-content>

      <div fxFlexAlign="center" class="img"></div>
    </mat-card>
  </div>
</div>
