<!-- <div class="main" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-card class="main-card">
      <mat-card-content class="main-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="main2" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-card class="main2-card">
      <mat-card-content class="main2-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <div class="main-bg-video">
      <video playsinline autoplay muted loop class="main-bg-video__content">
        <source
          src="../../assets/coverr-a-girl-is-studing-using-a-book-and-a-pc-6707.mp4"
          type="video/mp4"
        />
        Your browser isn't supported!
      </video>
    </div>

    <h1 class="mat-display-3" fxLayoutAlign="center center">
      as far as the eye can see...
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/emit.group/"
        class="main-btn main-btn-white"
        >follow us &rarr;</a
      >
    </div>
  </div>
</div>
<div class="main2" fxLayout="column" fxLayoutGap="5rem">
  <div fxLayoutAlign="center center" fxLayout="column">
    <h1 class="main2-header">Our Skills</h1>
    <h3 class="mat-display-1">We choose the bests for your project...</h3>
  </div>

  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="8rem">
    <mat-list
      fxLayout.lt-md="column"
      role="list"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="5rem"
    >
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/CSS3_logo_and_wordmark.svg"
      /></mat-list-item>

      <mat-list-item role="listitem"
        ><img
          class="main2-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem"
        ><img class="main2-icon" src="../../assets/angular-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img
          class="main2-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/firebase-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/nodejs-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/mongodb-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/auth0-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/bootstrap-5-seeklogo.com.svg"
      /></mat-list-item>
    </mat-list>
    <mat-list fxLayout="row" fxLayout.lt-md="column">
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/c-sharp-c-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/net-seeklogo.com.svg"
      /></mat-list-item>
    </mat-list>
  </div>
</div>

<div class="main3"></div>
