<div class="main" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-card class="main-card">
      <mat-card-content class="main-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="main2" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <mat-card class="main2-card">
      <mat-card-content class="main2-content">
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          Lorem ipsum dolor, sit amet consectetur
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
