// .main {
//   //background-image: url(../../assets/bilal-o-A6_3spmvln0-unsplash.jpg);
//   background-repeat: no-repeat;
//   //background-position: center;
//   background-color: orange;
//   background-size: cover;
//   min-height: 100vh;

//   &-content {
//     color: white;
//     font-size: 6rem;
//   }

//   &-card {
//     width: 100%;
//     background-color: transparent;
//     box-shadow: none;
//     border-radius: 0;
//   }
// }
.main {
  // background-image: url(../../assets/charles-deluvio-Lks7vei-eAg-unsplash.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  min-height: 100vh;
  position: relative;

  &-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-btn:link,
  &-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.9s;
    letter-spacing: 0.8rem;
  }

  &-btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &-btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &-btn-white {
    //background-color: rgba(7, 6, 44, 0.8);
    background-color: rgba(128, 128, 128, 0.685);
    color: white;
  }

  &-btn {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

.main2 {
  min-height: 60vh;
  background-color: #f7f7f7;
  flex-wrap: wrap;
  &-icon {
    width: 10rem;
    height: 10rem;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
    }
  }

  &-header {
    margin-top: 3rem;
    // border-bottom: 0.2rem solid rgba(0, 0, 0, 0.726);
    color: black;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 200;
  }
}

// .main2 {
//   //background-image: url(../../assets/bilal-o-A6_3spmvln0-unsplash.jpg);
//   background-repeat: no-repeat;
//   //background-position: center;
//   background-color: blue;
//   background-size: cover;
//   min-height: 50vh;

//   &-content {
//     color: white;
//     font-size: 6rem;
//   }

//   &-card {
//     width: 100%;
//     background-color: transparent;
//     box-shadow: none;
//     border-radius: 0;
//   }
// }
