<!-- <div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>


    <h1 class="mat-display-4" fxLayoutAlign="center center">
      ensuring your future...
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/emit.group/"
        class="main-btn main-btn-white"
        >OUR INSTAGRAM &rarr;</a
      >
    </div>
  </div>
</div> -->

<div class="main">
  <mat-grid-list class="main-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main-card"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <div class="main-card-title" fxFlexAlign="center">
          ensuring your future...
        </div>

        <mat-card-content class="main-grid-list">
          <div class="main-btn-position" fxLayoutAlign="start center">
            <a
              href="https://www.instagram.com/emit.group/"
              class="main-btn main-btn-white"
              >OUR INSTAGRAM &rarr;</a
            >
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main2" fxLayout="column" fxLayoutGap="5rem">
  <div fxLayoutAlign="center center" fxLayout="column">
    <h1 class="main2-header">Our Skills</h1>
    <p class="main2-quote">We choose the bests for your project...</p>
  </div>

  <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="8rem">
    <mat-list
      fxLayout.lt-md="column"
      role="list"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="5rem"
    >
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/CSS3_logo_and_wordmark.svg"
      /></mat-list-item>

      <mat-list-item role="listitem"
        ><img
          class="main2-icon"
          src="../../assets/javascript-js-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem"
        ><img class="main2-icon" src="../../assets/angular-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img
          class="main2-icon"
          src="../../assets/redux-observable-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/firebase-seeklogo.com.svg"
      /></mat-list-item>

      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/auth0-seeklogo.com.svg"
      /></mat-list-item>
    </mat-list>
    <mat-list
      fxLayout.lt-md="column"
      role="list"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="5rem"
    >
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/nodejs-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/mongodb-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/bootstrap-5-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/c-sharp-c-seeklogo.com.svg"
      /></mat-list-item>
      <mat-list-item role="listitem">
        <img class="main2-icon" src="../../assets/net-seeklogo.com.svg"
      /></mat-list-item>
    </mat-list>
  </div>
</div>

<div class="main3">
  <mat-grid-list class="main3-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>About us</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <p>
            Emit started its work on 2018 in Iran and Canada with the most
            modern technologies in web Design as we mentioned in skills section.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h1>Contact</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/mail-line (1).svg"
              alt="computer icon"
            /><span>emitgroup.web@gmail.com</span>
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/whatsapp-line.svg"
              alt="computer icon"
            /><span>+1(403)9032374</span>
          </div>

          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/instagram-line.svg" alt="computer icon" />
            <span>emit.group</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
